body{font-family:"SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;}
 input,select,textarea{-webkit-appearance:none; /*去除input默认样式*/} 
.inbanner{padding-bottom:15px;}
.inbanner img{width:100%;padding-bottom:15px;}
.txtcon{padding:10px 0;text-align:center;}
.txtcon h2{font-weight:bold;font-size:16px;margin:0 0 5px 0;}
.txtcon p{margin:0;font-size:14px;}
.incontbor{padding:0 30px 20px 30px;}
.incontbor h3{font-weight:bold;line-height:1.5;color:#eb5f2a;font-size:1.4em;}
/* .incontbor h3 span{font-size:1rem;} */
.inputtxt{padding:2px 0 2px 10px;font-size:14px;height:auto;}
.layui-table .layui-form-checkbox[lay-skin=primary] {
    margin: 0;
}
[class*=am-icon-]:before{
	font-family:'icomoon' !important;
}
.w100p{width:100%;}
.red{color:red;}
.surname{font-weight:bold;color:#F37B1D;}
.FullCardNumber{font-weight:bold;color:#F37B1D;}
